<section>
    <div class="container mt-4">
        <h2 class="text-center">Add Products</h2><br>
    <div class="row">
        <div class="col-md-6">
        
        <form action="/admin/add-products" method="post">
            <label for="Name">Product Name</label><br>
            <input type="text" name="Name" class="form-control" ><br>

            <label for="category">Category</label><br>
            <input type="text" name="category" class="form-control"><br>

            <label for="price">Price</label><br>
            <input type="text" name="price" class="form-control"><br>

            <label for="Description">Description</label><br>
            <input type="text" name="Description" class="form-control"><br>


            <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
        </div>
    </div>
    </div>
</section>