<section>
    <div class="container ml-5">
        <div class="col-md-12 text-center ml-5">
            <h1>Congrattzzzz</h1><br>
            <h3>Order successfully Placed</h3><br>
            <a href="/orders" class="btn btn-success">View Orders</a>
        </div>
    </div>
</section>