<section>
    <div class="col-md-4 details mt-5 ml-5">
        <h4>Enter Details</h4>
    <div class="container mt-5">
        
            <form action="" id="checkout-form">
                <label for="address">Address</label>
                <textarea rows="3" cols="30" name="address" class="form-control"></textarea>

                <label for="pincode">Pincode</label>
                <input type="text" name="pincode" class="form-control">

                <label for="mobile">Mobile Number</label>
                <input type="tel" name="mobile" class="form-control">

                <input type="text" name="userId" value="{{user._id}}" hidden>
                
            
        </div>
    </div>
    <div class="col-md-4">
        <div class="container mt-5 ml-5 checkout">
            <h5>Total Amount : Rs. {{total}} /-</h5>
            <br>
            <div class="payment">
                <p>Payment method</p>
                <label class="radio-inline">
                <input type="radio" name="payment method" value="COD">COD
                </label>
                <label class="radio-inline">
                <input type="radio" name="payment method" value="ONLINE">Online payment
                </label>
                <button class="btn btn-primary float-right">Checkout</button>
            </div>
        </div>
    </div>
    </form>
</section>
<script>
    $('#checkout-form').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
                
                alert('order placed')
                if(response.status){
                    location.href='/ordersuccess'
                }
                
            }
        })
    })
</script>